@import "fonts.scss";
@import "themes.scss";

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@import "components.scss";

@tailwind utilities;

abbr {
    @apply cursor-help border-support-fifth-500 text-support-fifth-500 no-underline border-b border-dotted border-support-fifth-500 #{!important};

    &:after {
        @apply inline-block w-4;
        content: url('../assets/img/annotation.svg');
    }
}

:not(pre) > code {
    @apply rounded p-1 bg-neutral-200 font-fira-code font-medium text-support-second-500 #{!important};

    &:before, &:after {
        @apply hidden;
    }
}

mark {
    @apply text-neutral-800 bg-support-third-300;
}

.bg\-shapes {
    background-image: url('../assets/img/bg-shapes.svg');
    background-size: 2560px auto;
}

.emoji {
    @apply inline;
}

.post-card {
    h2 {
        .emoji {
            @apply h-5;
        }
    }
}

.prose {
    img {
        @apply inline;
    }

    .emoji {
        @apply m-0 h-4;
    }

    .post-display-title {
        .emoji {
            @apply m-0 h-8;
        }
    }
}

@screen lg {
    .post-card {
        h2 {
            .emoji {
                @apply h-6;
            }
        }
    }

    .prose {
        .emoji {
            @apply h-6;
        }

        .post-display-title {
            .emoji {
                @apply m-0 h-12;
            }
        }
    }
}

.title\-highlight {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(62%, transparent), color-stop(62%, var(--color-primary-900)), color-stop(85%, var(--color-primary-900)), color-stop(85%, transparent));
    background-image: linear-gradient(to bottom, transparent 62%, var(--color-primary-900) 62%, var(--color-primary-900) 85%, transparent 85%);
    color: var(--color-neutral-300);
    padding: 0 1rem;
    text-shadow: var(--color-neutral-500) 0 1px 2px;
}
