div[class*="language-"] {
    @apply relative rounded-lg;
    background: rgb(45, 55, 72); // TODO: change to nordtheme color

    // Language display
    &:before {
        @apply absolute font-fira-sans text-xs z-50;
        color: rgba(255, 255, 255, 0.4); // TODO: change to nordtheme color
        top: 0.25rem;
        right: 0.4rem;
    }

    // Code content
    pre, pre[class*="language-"] {
        @apply relative m-0 bg-transparent font-fira-code leading-loose cursor-text z-20;
        code, code[class*="language-"] {
            @apply relative inline-block mt-4;

            &:before {
                content: '';
                @apply absolute top-0 w-3 select-none;
                left: 100%;
                height: 1px;
            }
        }
    }

    // Line highlighting
    .highlight-lines {
        @apply absolute top-0 left-0 pt-6 pb-2 w-full leading-loose select-none text-xs z-10;

        .highlighted {
            background-color: rgba(0, 0, 0, 0.66); // TODO: change to nordtheme color
        }
    }

    // Line numbers
    .line-numbers-wrapper {
        @apply hidden;
    }

    &.line-numbers-mode {
        pre {
            @apply ml-12 pl-2 align-middle;
        }

        .line-numbers-wrapper {
            @apply absolute top-0 w-12 h-full p-2 pt-6 block rounded-l border-r border-neutral-900;
            @apply font-fira-sans font-medium text-center select-none z-30;
            color: rgba(255, 255, 255, 0.3); // TODO: change to nordtheme color
        }
    }
}

div[class~="language-js"]:before {
    content: 'js';
}

div[class~="language-ts"]:before {
    content: 'ts';
}

div[class~="language-html"]:before {
    content: 'html';
}

div[class~="language-md"]:before {
    content: 'md';
}

div[class~="language-vue"]:before {
    content: 'vue';
}

div[class~="language-css"]:before {
    content: 'css';
}

div[class~="language-sass"]:before {
    content: 'sass';
}

div[class~="language-scss"]:before {
    content: 'scss';
}

div[class~="language-less"]:before {
    content: 'less';
}

div[class~="language-stylus"]:before {
    content: 'stylus';
}

div[class~="language-go"]:before {
    content: 'go';
}

div[class~="language-java"]:before {
    content: 'java';
}

div[class~="language-c"]:before {
    content: 'c';
}

div[class~="language-sh"]:before {
    content: 'sh';
}

div[class~="language-yaml"]:before {
    content: 'yaml';
}

div[class~="language-py"]:before {
    content: 'py';
}

div[class~="language-docker"]:before {
    content: 'docker';
}

div[class~="language-dockerfile"]:before {
    content: 'dockerfile';
}

div[class~="language-makefile"]:before {
    content: 'makefile';
}

div[class~="language-javascript"]:before {
    content: "js";
}

div[class~="language-typescript"]:before {
    content: "ts";
}

div[class~="language-markup"]:before {
    content: "html";
}

div[class~="language-markdown"]:before {
    content: "md";
}

div[class~="language-json"]:before {
    content: "json";
}

div[class~="language-ruby"]:before {
    content: "rb";
}

div[class~="language-python"]:before {
    content: "py";
}

div[class~="language-bash"]:before {
    content: "sh";
}

div[class~="language-php"]:before {
    content: "php";
}

@screen sm {
    div[class*="language-"] {
    }
}

@screen md {
    div[class*="language-"] {
        &:before {
            @apply text-sm;
            right: 0.45rem;
        }

        .highlight-lines {
            @apply pt-7 pb-3 text-sm;
        }

        &.line-numbers-mode {
            .line-numbers-wrapper {
                @apply pt-7;
            }
        }
    }
}

@screen lg {
    div[class*="language-"] {
        &:before {
            @apply text-base;
            right: 0.5rem;
        }

        .highlight-lines {
            @apply pt-8 pb-4 text-base;
        }

        &.line-numbers-mode {
            .line-numbers-wrapper {
                @apply pt-8;
            }
        }
    }
}

@screen xl {
    div[class*="language-"] {
        &:before {
            @apply text-lg;
            right: 0.6rem;
        }

        .highlight-lines {
            @apply pt-9 pb-5 text-lg;
        }

        &.line-numbers-mode {
            .line-numbers-wrapper {
                @apply pt-9;
            }
        }
    }
}

@import "prism-nord";
