div[class*="language-"] {
    background: #2e3440;
    
    // Language display
    &:before {
        color: #616e88;
    }

    // Code content
    pre, pre[class*="language-"] {
        code, code[class*="language-"] {
            color: #eceff4;
        }
    }


    // Line highlighting
    .highlight-lines {
        .highlighted {
            background: #3b4252;
            box-shadow: inset 5px 0 0 #88c0d0;
        }
    }

    // Line numbers
    &.line-numbers-mode {
        .line-numbers-wrapper {
            @apply border-0 border-transparent;
            color: #4c566a;
        }
    }
}

/**
 * Tokens
 */
.namespace {
    opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #616e88;
}

.token.function-variable.function,
.token.punctuation {
    color: #eceff4;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #b48ead;
}

.token.attr-name {
    color: #8fbcbb;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.attr-value {
    color: #a3be8c;
}

.token.tag,
.token.operator,
.token.entity,
.token.keyword,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #81a1c1;
    background: none;
}

.token.atrule {
    color: #d08770;
}

.token.function {
    color: #88c0d0;
}

.token.regex,
.token.important,
{
    color: #ebcb8b;
}

.token.variable {
    color: #d8dee9;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
