.theme-nord {
    /* Neutrals */
    --color-neutral-050: #f8f9fb;
    --color-neutral-100: #eceff4;
    --color-neutral-200: #e5e9f0;
    --color-neutral-300: #d8dee9;
    --color-neutral-350: #9da6b9;
    --color-neutral-400: #616e88;
    --color-neutral-500: #4c566a;
    --color-neutral-600: #434c5e;
    --color-neutral-700: #3b4252;
    --color-neutral-800: #2e3440;
    --color-neutral-900: #242933;

    /* Primary */
    --color-primary-050: #e4efef;
    --color-primary-100: #c9dfdf;
    --color-primary-200: #8fbcbb;
    --color-primary-300: #8bbec5;
    --color-primary-400: #88c0d0;
    --color-primary-500: #85b1c8;
    --color-primary-600: #81a1c1;
    --color-primary-700: #7192b7;
    --color-primary-800: #5e81ac;
    --color-primary-900: #3f608a;

    /* Support */
    --color-support-first-050: #fdf7f8;
    --color-support-first-100: #fbf0f5;
    --color-support-first-200: #f7e2ed;
    --color-support-first-300: #e8cbdd;
    --color-support-first-400: #d2b0c8;
    --color-support-first-500: #b48ead;
    --color-support-first-600: #9a6796;
    --color-support-first-700: #814781;
    --color-support-first-800: #622d68;
    --color-support-first-900: #4a1b56;

    --color-support-second-050: #fdf4ef;
    --color-support-second-100: #fbe9e3;
    --color-support-second-200: #f8d0c7;
    --color-support-second-300: #ebaca6;
    --color-support-second-400: #d88889;
    --color-support-second-500: #bf616a;
    --color-support-second-600: #a44658;
    --color-support-second-700: #893049;
    --color-support-second-800: #6e1e3c;
    --color-support-second-900: #5b1234;

    --color-support-third-050: #fefcf2;
    --color-support-third-100: #fef9e9;
    --color-support-third-200: #fdf3d3;
    --color-support-third-300: #f9e8bb;
    --color-support-third-400: #f3dca8;
    --color-support-third-500: #ebcb8b;
    --color-support-third-600: #caa565;
    --color-support-third-700: #a98146;
    --color-support-third-800: #88602c;
    --color-support-third-900: #70481a;

    --color-support-fourth-050: #fbfdf5;
    --color-support-fourth-100: #f7fbee;
    --color-support-fourth-200: #eef8de;
    --color-support-fourth-300: #dbebc6;
    --color-support-fourth-400: #c3d8ad;
    --color-support-fourth-500: #a3be8c;
    --color-support-fourth-600: #7fa366;
    --color-support-fourth-700: #5d8846;
    --color-support-fourth-800: #406e2c;
    --color-support-fourth-900: #2a5b1a;

    --color-support-fifth-050: #fef8f0;
    --color-support-fifth-100: #fcf1e5;
    --color-support-fifth-200: #fae1cc;
    --color-support-fifth-300: #f0c7ae;
    --color-support-fifth-400: #e2ac94;
    --color-support-fifth-500: #d08770;
    --color-support-fifth-600: #b26251;
    --color-support-fifth-700: #954138;
    --color-support-fifth-800: #782523;
    --color-support-fifth-900: #631519;
}
